@import  "https://fonts.googleapis.com/css?family=Roboto:400,700,300";
body {
    font-family: 'Roboto',sans-serif;
    color: #333333;
    overflow-x: hidden;
    background: #eeeeee;
    max-width: 100vw;
}
html {
    max-width: 100vw;
    overflow-x: hidden;
}
.banner {
    position: absolute;
    background-color: #448aff;
    height: 400px;
    width: 100%;
    z-index: -1;
}
.banner2 {
    position: absolute;
    background-color: #00c853;
    height: 400px;
    width: 100%;
    z-index: -1;  
}
@media screen and (max-width: 500px) {
    .banner {
        height: 250px;
    }
    .banner2 {
        height: 250px;
    }
    .card-panelz {
        margin-top: 30px;
        position: relative;
        margin-left: inherit;
    }
}
big {
    font-size: 25px;
    padding-top: 15px;
}
.container-fluid {
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}
.card-panelz {
    background: #fff;
    padding: 35px;
    margin-top: 30px;
    color: #666666;
}
.social {
    margin-top: 15px;
    margin-bottom: 30px;
}
