.above-nav {
    background: #607D8B;
    padding-top: 60px;
    padding-bottom: 40px;
}

body {
    color: #666666;
}

.container-fluid {
    padding-left: 5%;
    padding-right: 5%;
}

nav {
    background: #546E7A !important;
}

.img-above-nav {
    background: url(https://static.pexels.com/photos/4164/landscape-mountains-nature-mountain.jpeg) center center;
    height: 200px;
}

.flat {
    font-weight: 400;
    text-transform: uppercase;
}

.hr {
    border-bottom: solid 1px #ececec !important;
}

.inline {
    display: inline-block !important;
}

.vcenter {
    height: 50px;
    width: 100%;
    line-height: 50px;
    display: inline-block;
}

.intro {
    padding-top: 60px;
    padding-bottom: 40px;
    background: #437af8;
    color: #fff;
}

.brand-logo {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 20px !important;
}

blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #039BE5 !important
}

.around-nav {
    background: #437af8;
}

.hero {
    background: url(https://growingupwell.files.wordpress.com/2013/07/istock_000013994091small.jpg);
    background-size: cover;
    height: 600px;
    width: 100%;
    line-height: 600px;
    text-align: center;
    margin-bottom: 50px;
}

.hero-content {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: white;
    border: solid 6px #fff;
    padding-left: 65px;
    padding-right: 65px;
}
.title-colored {
    padding: 15px;
    color: cadetblue;
}
.medium {
    padding: 25px;
}