@import  "https://fonts.googleapis.com/css?family=Roboto:400,700,300";
body {
    font-family: 'Roboto',sans-serif;
    color: #333333;
    overflow-x: hidden;
    background: #eeeeee;
    max-width: 100vw;
}
html {
    max-width: 100vw;
    overflow-x: hidden;
}
.banner {
    position: absolute;
    background: #00c853;
    height: 300px;
    width: 100%;
    z-index: -1;
}
@media screen and (max-width: 500px) {
    .banner {
        height: 200px;
    }
}
big {
    font-size: 25px;
    padding-top: 15px;
}
.container-fluid {
    margin-left: 5%;
    margin-right: 5%;
}
