/*FONTS*/


@import 'https://fonts.googleapis.com/css?family=Inconsolata:700';


/*STYLE*/

h1,
h2,
h3,
h4 {
    font-family: 'Roboto', arial, sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', arial, sans-serif;
    background: #fff;
    overflow-x: hidden;
    max-width: 100%;
    color: #444444;
}

#offerings {
    padding-top: 100px;
    padding-bottom: 100px
}
#syntax {
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 25px;
}

#solutions {
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 25px;
}
.contact-img {
    border: 1px solid #dedede;
}

.contact-block {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #777777;
    background: #fff;
}

.contact-block a {
    color: #777777;
}

.contact-block a:hover {
    color: #333333;
}

.contact-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.hover-underline:hover {
    text-decoration: underline;
}



#grayyyy {
    background-color: #ececec;
    z-index: 3;
    min-height: 100vh;
}

.superbutton {
    padding: 15px;
    color: #e74c3c;
    border: solid 3px #c0392b;
    width: 175px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}



.previouscontainers {
    background-color: #22313F;
    border-radius: 5px;
    padding: 0;
    color: white;
}

.name-position {
    background-color: #039BE5;
    padding: 15px;
    color: white;
}

.img-container {
    margin-top: 15px;
    margin-bottom: 15px;
}

.img-profile {
    padding: 15px;
}

.no-bullets {
    list-style: none
}

.previous-block a {
    color: #333333;
    text-transform: none !important;
}

.padding {
    padding-right: 45px;
    padding-top: 15px;
}

.subv {
    text-indent: 10%
}

.email {
    margin-left: auto;
    margin-right: auto;
}

.indent {
    text-indent: 5%;
}

.intro {
    padding-top: 100px;
    padding-bottom: 100px;
    background: url(/site/img/background_images/material-1184760_960_720.jpg) left center;
    color: #fff;
}

.position {
    background-color: #6060c1;
    color: white;
    padding: 25px;
}

.ececec {
    background-color: #fafafa;
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #2196f3 !important;
    will-change: left, right
}

.tab a {
    color: #2196f3;
    display: block;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease
}

.banner {
    position: absolute;
    background-color: #437af8;
    height: 400px;
    width: 100% overflow-x: hidden;
}

@media screen and (max-width: 768px) {
    .banner {
        height: 250px;
        overflow-x: hidden;
    }
    .card-panel {
        top: -90px;
        position: relative;
        overflow-x: hidden;
    }
    .brand-logo {
        font-size: .7rem;
    }
}

big {
    font-size: 25px;
    padding-top: 15px;
}

.container-fluid {
    margin-left: 5%;
    margin-right: 5%;
}

.pagination .active {
    background-color: #009688 !important;
}

.side-nav-logo a:hover {
    background: none;
}

#index-banner {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

nav {
    background-color: #2c3e50 !important;
}




.card {
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 2px !important;
}
.first-color {
    background: #455a64;
    padding: 15px;
}
.second-color {
    background: #546e7a;
    padding: 15px;
    text-align: center;
}
.absol {
    position: absolute;
    top: 160px;
    right: 25px;
}
.image-container {
    margin-top: 0 !imporant;
    padding-top: 0px !important;
    background: #546e7a;
}
.color1 {
    background: #26a69a;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.color1 a {
    color: white;
}
.product-name {
    padding-top: 5px;
}
.zzz {
    font-weight: 300;
}
nav a {
    font-weight: 500 !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
}
