@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en);
.bggrey {
    background-color: #eeeeee;
}
.bio {
  padding: 2%;  

}
.bio h4 {
    color: #0099ff;
}
html {
  overflow-x: hidden;
}
body {
font-family: 'RobotoDraft', arial, sans-serif;
background: #fff;
  overflow-x: hidden;
  max-width: 100%;
  color: #444444;
}
.companyjumbotron {
    background: url(https://cdn.rawgit.com/Syntax-Solutions/site/gh-pages/img/background_images/companybg.png) center;
    background-size: contain;
    height: 50vh;
    color: #0099ff;
    width: 100%;
    text-align: center;
    margin-bottom: 10px; 
    padding: 10% 1% 1% 1%;
}

.required-message {
    color: #ff0000;
}
.ss-choice-label {
    font-weight: 300;
}
.ss-required-asterisk {
    color: #ff0000;
}
.ss-q-title {
    font-weight: 400;
}
ul.form {
    list-style-type: none;
}
.main-container {
  margin-top: 150px;
  padding-bottom: 150px;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="textarea"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #94b8b8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}
/*TUTORIAL*/
.block-c25 {
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    padding: 25px;
    background-color: #fff;
    margin-bottom: 20px
}
.block-c25:hover {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.16),0 4px 20px 0 rgba(0,0,0,0.12) !important
}
.block-c50 {
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    padding: 25px;
    background-color: #fff;
    margin-bottom: 25px
}
.block-c50:hover {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.16),0 4px 20px 0 rgba(0,0,0,0.12) !important
}
.block-c75 {
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    padding: 25px;
    margin-bottom: 25px;
    background-color: #fff;
}
.block-c100:hover {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.16),0 4px 20px 0 rgba(0,0,0,0.12) !important
}
.block-c100 {
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    padding: 25px;
    margin-bottom: 25px;
    background-color: #D2D7D3;
}
.block-c75:hover {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.16),0 4px 20px 0 rgba(0,0,0,0.12) !important
}
#offerings {
    padding-top: 100px;
    padding-bottom: 100px
}

.contact-img {
    border: 1px solid #dedede;
}
.contact-block {
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #777777;
    background: #fff;
}
.contact-block a {
    color: #777777;
}
.contact-block a:hover {
    color: #333333;
}
.contact-section {
    padding-top: 100px;
    padding-bottom: 100px;
}
.hover-underline:hover {
  text-decoration: underline;
}
.form-control {
  margin-bottom: 20px;
}
::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}
label.error {
display: list-item;
color: #ff0600;
font-size: 12px;
list-style-position: inside;
padding: 5px 0 0;}
.btn-custom {
    border: 1px solid #fff;
    color: #fff;
    background-color: #2ecc71;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-custom:hover,
.btn-custom:focus {
    outline: 0;
    color: #fff;
    background: #27ae60;
}

.btn-custom i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-custom:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}
.last-content {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#grayyyy {
  background-color: #ececec;
  z-index: 3;
  padding: 100px;
  min-height: 100vh;
}
#grayyyy .container {
  padding: 100px;
}
.superbutton {
  padding: 15px;
  color: #e74c3c;
  border: solid 3px #c0392b;
  width: 175px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.superbutton:hover {
  padding: 15px;
  background-color: #e74c3c;
  border: solid 3px #c0392b;
  color: white;
  text-decoration:none;
}
.previouscontainers {
  background-color: #22313F;
  border-radius: 5px;
  padding: 0;
  color: white;
}
.name-position {
    background-color: #039BE5;
    padding: 15px;
    color: white;
}
.img-container {
    margin-top: 15px;
    margin-bottom: 15px;
}
.img-profile {
    padding: 15px;
}
.no-bullets {
    list-style: none
}
.sub {
    text-indent: 2%;
}
.inline {
    cursor:pointer;
}
.fixed {
    margin: 0 auto;
    align-content: center;
    position: absolute;
    text-align: center;
    margin-left: 45%;
}
.previous-block a {
    color: #333333;
}
.padding {
    padding-right: 45px;
    padding-top: 15px;
}
.subv {
    text-indent: 10%
}
.demo-card-square.mdl-card {
  width: 100%;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}
.mdl-layout__tab:hover {
    color: white;
}
.email {
    margin-left: auto;
    margin-right: auto;
}
.parallax-1 {
  font-family: 'Lato', sans-serif;
}
.pointer {
  cursor: pointer;
}
.indent {
    text-indent: 5%;
}
.intro {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #437af8;
    color: #fff;
}
.position {
    background-color: #6060c1;
    color: white;
   padding: 25px;
}
.ececec {
    background-color: #eeeeee;
}
.tabs .indicator{position:absolute;bottom:0;height:2px;background-color:#2196f3 !important; will-change:left, right}
.tab a{color:#2196f3;display:block;width:100%;height:100%;text-overflow:ellipsis;overflow:hidden;transition:color .28s ease}
.banner {
    position: absolute;
    background-color: #437af8;
    height: 400px;
    width: 100%
    overflow-x: hidden;
}
@media screen and (max-width: 768px) {
    .banner {
        height: 250px;
        overflow-x: hidden;
    }
    .card-panel {
        top: -90px;
        position: relative;
        overflow-x: hidden;
    }
}
big {
    font-size: 25px;
    padding-top: 15px;
}
.container-fluid {
    margin-left: 5%;
    margin-right: 5%;
}
.pagination .active {
    background-color: #4fc3f7 !important;
}
.side-nav-logo a:hover {background-color: #455a64;}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222;
        z-index: 1000;
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }
    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded styles */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
    }
    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
    }
    .loaded #loader {
        opacity: 0;

        -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */

    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */
    
        -webkit-transition: all 0.3s 1s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                transition: all 0.3s 1s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
    }


