@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';

body {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    background: #eeeeee
}

.brand-logo {
    font-size: 20px !important;
}
.container-fluid {
    padding-left: 5%;
    padding-right: 5%;
}
.inline {
    display: inline-block;
}
h1.inline {
    font-weight: 600;
}
img {
    border-radius: 3px;
}
h1.highlight {
    background-color: #2B2B87;
    width: 220px;
    color: white;
    padding: 10px;
    font-weight: 700;
    border-radius: 3px;
    transition: all 0.5s ease;
}
h1.highlight:hover {
    background: #eee;
    transition: all 0.5s ease;
    cursor: default;
    color: #2B2B87;
}
nav a {
    color: #2B2B87 !important;
}
